## 1. Création de la Base de données Floupics.db pour insertion des fichiers CSV sous PostgreSQL

Pour créer notre base de données dans PostgreSQL, on va utiliser l'interface pgAdmin4.

Voici la requête SQL que va éxecuter pgAdmin4 pour créer Floupics_bdd :

```sql
CREATE DATABASE "Floupics_bdd"
    WITH 
    OWNER = postgres
    ENCODING = 'UTF8'
    CONNECTION LIMIT = -1;

COMMENT ON DATABASE "Floupics_bdd"
    IS 'Base de données Floupics';
```

Et voici le pas à pas détaillé pour créer à l'aide de l'interface graphique de pgAdmin4 :

    1. Clique droit sur Databses > Create > Database...

![creation1](IMG/creation1.png)

    2. Cela ouvre la boite de dialogue "Create-Database" où l'on va paramétrer la base de données. Dans notre cas, on va simplement ajouter le nom et un commentaire. Puis on valide avec "Save"
    
![creation2](IMG/creation2.png)

    3. La base de données est créée. On clique dessus pour la connecter et déployer les options. Les tables qui seront créées par la suite seront consultables dans Floupics_bdd > Schemas(1) > Public > Tables

![creation3](IMG/creation3.png)

---

## 2. Ajout des tables dans la base de données Floupics

In [1]:
#cet import permet de charger le mot de passe configuré dans les variables d'environnement de l'OS
import os
mon_mot_secret = os.environ.get('mot_secret')
print(mon_mot_secret)

azerty123

In [2]:
#psycopg2 est le module qui va permettre d'intéragir avec PostgreSQL.
import psycopg2

In [3]:
#Ici, nous allons paramétrer les variables de connexion à PostgreSQL
ma_base_donnees = "Floupics_bdd"
utilisateur = "postgres"
mot_passe = os.environ.get('pg_psw')

In [4]:
#voici le bloc d'instruction complet qui permet de créer les tables et insérer les données issues des CSV
def PgImport(sql_suppr_table, sql_creer_table, sql_inserer_donnees):
    
    try: #On crée la connexion à la Base de données Floupics_bdd qui va contenir les 4 tables issues des 4 fichiers CSV.
        conn = psycopg2.connect(host="localhost", dbname=ma_base_donnees, user=utilisateur, password=mot_passe, port=5432)
        
    except psycopg2.Error as e:
            print("Erreur lors de la connection à la base de données")
            print(e)
            return None
        
    conn.set_session(autocommit=True) #permet d'activer les commit automatiquement.
    
        
    cursor = conn.cursor() #activation du curseur dans PGSQL
    
    try:
        """Avant la création, le programme vérifie si la table existe déjà;
        si c'est le cas, il la supprime."""
        cursor.execute(sql_suppr_table)
            
    except psycopg2.Error as e:
        print("Erreur lors de la suppression de la table")
        print(e)
        return
    print("La table a été supprimée avec succès")
    
    try:
        """à cette étape, on donne l'instruction au curseur de formater la table
        selon les champs définis dans la variable sql_créer_table."""
        cursor.execute(sql_creer_table)

    except psycopg2.Error as e:
        print("Erreur lors de la création de la table")
        print(e)
        return
    print("La table a été crée avec succès")

    try:
        """enfin, on donne l'instruction au curseur d'insérer les données dans la table créée
        selon les champs définis dans la variable sql_insérer_données."""
        cursor.execute(sql_inserer_donnees)

    except psycopg2.Error as e:
        print("Erreur lors de l'insertion des données")
        print(e)
        return
        cursor.close()
    print("Les données ont été insérées avec succès")

Pour chacune des tables, on va lancer l'exécution de la cellule correspondante.

On commence par la table movies car après analyse du MCD, les autres tables reçoivent comme Foreign Key movieId.

C'est cette Foreign Key qui permet la liaison entre les tables.

In [5]:
sql_suppr_table = """
    DROP TABLE IF EXISTS movies CASCADE;
"""

sql_creer_table = """
    CREATE TABLE IF NOT EXISTS movies (
                    movieId INTEGER NOT NULL PRIMARY KEY,
                    title TEXT,
                    genres TEXT
    );
"""

sql_inserer_donnees = """
    COPY movies (movieId, title, genres) 
    FROM 'C:/Users/joris/Documents/Simplon/Dev_data/Fil_Rouge/Movies_2/Movie2-Groupe-C/CSV/movies.csv'
	WITH CSV HEADER DELIMITER ',' QUOTE '"';
"""

PgImport(sql_suppr_table, sql_creer_table, sql_inserer_donnees)

La table a été supprimée avec succès
La table a été crée avec succès
Les données ont été insérées avec succès

Et voici le pas à pas détaillé pour vérifier la création et l'importation des données à l'aide de l'interface graphique de pgAdmin4 :

    1. Clic droit sur Tables > Refresh... ; pour rafraîchir les informations sur pgAdmin4

![verif1](IMG/verif1.png)

    2. La table movies est apparue et on peut voir que Tables affiche désormais Tables(1). Avec un double clic gauche sur "movies", on peut voir les colonnes créées. En faisant un clic droit sur la table movies > View/Edit Data > All rows, on va vérifier que toutes les lignes ont bien été copiées depuis le fichier CSV.
    
![verif2](IMG/verif2.png)

    3. On a bien le message de confirmation que 9742 lignes ont été renseignées. 

![verif3](IMG/verif3.png)


On peut maintenant activer les 3 autres cellules pour finir d'alimenter notre base de données.

In [6]:
sql_suppr_table = """
    DROP TABLE IF EXISTS tags CASCADE;
"""

sql_creer_table = """
    CREATE TABLE IF NOT EXISTS tags (
                    userId INTEGER,
                    movieId INTEGER,
                    tag TEXT,
                    timestamp INTEGER,
                    CONSTRAINT fk_movieId
                        FOREIGN KEY(movieId)
                            REFERENCES movies(movieId),
                    PRIMARY KEY (userId, movieId, tag)
    );
"""

sql_inserer_donnees = """
    COPY tags (userId, movieId, tag, timestamp) 
    FROM 'C:/Users/joris/Documents/Simplon/Dev_data/Fil_Rouge/Movies_2/Movie2-Groupe-C/CSV/tags.csv'
	WITH CSV HEADER DELIMITER ',' QUOTE '"';
"""

PgImport(sql_suppr_table, sql_creer_table, sql_inserer_donnees)

La table a été supprimée avec succès
La table a été crée avec succès
Les données ont été insérées avec succès

In [7]:
sql_suppr_table = """
    DROP TABLE IF EXISTS links CASCADE;
"""

sql_creer_table = """
    CREATE TABLE IF NOT EXISTS links (
                    movieId INTEGER,
                    imdbId INTEGER,
                    tmdbId TEXT,
                    CONSTRAINT fk_movieId
                        FOREIGN KEY(movieId)
                            REFERENCES movies(movieId),
                    PRIMARY KEY (movieId, imdbId, tmdbId)
    );
"""

sql_inserer_donnees = """
    COPY links (movieId, imdbId, tmdbId) 
    FROM 'C:/Users/joris/Documents/Simplon/Dev_data/Fil_Rouge/Movies_2/Movie2-Groupe-C/CSV/links.csv'
	WITH CSV HEADER DELIMITER ',' QUOTE '"' FORCE NOT NULL tmdbId;
"""

PgImport(sql_suppr_table, sql_creer_table, sql_inserer_donnees)

La table a été supprimée avec succès
La table a été crée avec succès
Les données ont été insérées avec succès

In [8]:
sql_suppr_table = """
    DROP TABLE IF EXISTS ratings CASCADE;
"""

sql_creer_table = """
    CREATE TABLE IF NOT EXISTS ratings (
                    userId INTEGER,
                    movieId INTEGER,
                    rating REAL,
                    timestamp INTEGER,
                    CONSTRAINT fk_movieId
                        FOREIGN KEY(movieId)
                            REFERENCES movies(movieId),
                    PRIMARY KEY (userId, movieId)
    );
"""

sql_inserer_donnees = """
    COPY ratings (userId, movieId, rating, timestamp) 
    FROM 'C:/Users/joris/Documents/Simplon/Dev_data/Fil_Rouge/Movies_2/Movie2-Groupe-C/CSV/ratings.csv'
	WITH CSV HEADER DELIMITER ',' QUOTE '"';
"""

PgImport(sql_suppr_table, sql_creer_table, sql_inserer_donnees)

La table a été supprimée avec succès
La table a été crée avec succès
Les données ont été insérées avec succès

Nos 4 tables ont bien été créées et alimentées par les fichiers CSV.

![verif4](IMG/verif4.png)

Grâce à Dbeaver, on peut générer le ER Diagram qui va nous permettre de vérifier que nos tables sont bien liées entre elles grâce aux foreign key.
    
![diagram](IMG/diagram.png)

Dernière étape, on souhaitait ajouter 2 colonnes supplémentaires dans la table "movies" pour séparer les années des titres.

---

## 3. Comment modifier la table 'movies' avec un ajout de colonnes

In [9]:
def Pgmodify(sql_modifier_table):
    
    try: #On crée la connexion à la Base de données Floupics_test.db qui va contenir les 4 tables issues des 4 fichiers CSV.
        conn = psycopg2.connect(host="localhost", dbname=ma_base_donnees, user=utilisateur, password=mot_passe, port=5432)
        
    except psycopg2.Error as e:
            print("Erreur lors de la connection à la base de données")
            print(e)
            return None
        
    conn.set_session(autocommit=True) #permet d'activer les commit automatiquement.
    
        
    cursor = conn.cursor() #activation du curseur dans PGSQL
    
    try:
        """à cette étape, on donne l'instruction au curseur de modifier la table
        selon les champs définis dans la variable sql_modifier_table."""
        cursor.execute(sql_modifier_table)
            
    except psycopg2.Error as e:
        print("Erreur lors de la modification de la table")
        print(e)
        return
        cursor.close()
    print("La table a été modifiée avec succès")

In [10]:
sql_modifier_table = """
ALTER TABLE movies 
add COLUMN year text generated always AS (TRIM(RIGHT(title, 6), '()')) stored,
add COLUMN title_only text generated always AS (TRIM(LEFT(title, -6))) stored;
"""
Pgmodify(sql_modifier_table)

La table a été modifiée avec succès

Ci-dessous, nous pouvons constater l'ajout des 2 nouvelles colonnes year et title_only dans la table movies :

![update](IMG/update.png)

---